
 @import url('https://fonts.googleapis.com/css?family=Montserrat'); 
 body {
    background-color: #383a39;


    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  div{
    margin:0;
  }
  #app {
    display: block;
    text-align: center;
    margin: 0;
  }
  
  #reactWrap {
    margin: 0;
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
    -ms-grid-rows: 0.5fr 10fr 0.5fr;
        grid-template-rows: 0.5fr 10fr 0.5fr;
    height: 95vh;
    margin: auto;
    grid-gap: 0.1rem;
    background-repeat: unset;
    background-size: 100% 100%;
    background-size: auto;
    background-position: center center;
    max-width: 1500px;
  }
  
  #title {
    font-family: sans-serif, arial;
    color: white;
    background-color: #1d844d;
    -ms-grid-row: 1;
    font-family: 'Montserrat', sans-serif;
    grid-row: 1;
    padding: 1.5vh;
    font-size: 20px;
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  
  #ChatBody {
    grid-row: 2;
    margin: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    background-color: #1b1d1c;

    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 1px 1px 1003px rgba(0, 255, 117, 0.1);
    max-height: 95vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    background: #c6c6c6d9;
  }
  .cancelButton{

    font-size: 16px !important;
  }
  .confirmButton{
    background-color: rgb(45, 218, 96);
padding-left: 30px !important;
text-align: center !important;
  }
  #Writer {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #Writer button {
    font-size: 10px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    /*background-color: #000;*/
   /* color: ligther(#dff1ed, 30%);*/
    min-width: 70px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    transition: all linear 0.1s;
    font-family: 'Montserrat', sans-serif;
  }
  
  #Writer button:active {
    background-color:#d1fff5; 
    transform:scale(0.9);

  }
  #Writer button:hover {
    color:#16ff9e; 
  }
  #Writer input {
    flex-basis: 80%;
    color: #2a374d;
    background-color: #fff;
    border: solid 1px #75c2b1;
    font-size: 1rem;

  }
  #Writer input:focus {
    background-color:#b5ebd4;
  }
  .activeButton{
    background-color: #000;
    color: white;
  }
  .passiveButton{
    background-color: rgb(196, 206, 194);
    color: ligther(#08f3c0, 30%);
  }
  .MyMessageStyle {
    background-color: #fff;
    color: #002545;
    border-radius: 9px;
    left: 0;
    position: relative;
    padding: 1%;
    max-width: 30%;
    padding: 1%;
        padding-bottom: 1%;
    margin: 10px;
    max-width: 350px;
    padding-bottom: 1%;
    margin: 1vw;
        margin-top: 1vw;
        margin-right: 1vw;
        margin-bottom: 1vw;
        margin-left: 1vw;
    box-shadow: 0 3px 8px -1px #4f554f;
    padding-bottom: 15px;
    width: 30%;
  }
  .OtherMessageStyle{
    background-color: rgb(45, 218, 96);
    color: black;
    border-radius: 9px;
    left: calc( 70% - 1vw);
    position: relative;
    max-width: 350px;
    padding: 1%;
    max-width: 30%;
    padding: 1%;
        padding-bottom: 1%;
    padding-bottom: 1%;
    padding-bottom: 1%;
    margin: 10px;
    box-shadow: 0 15px 20px rgba(256, 256, 256, 0.1);
    padding-bottom: 15px;
    max-width: 20vw;
    width: 30%;
  }
  /*# sourceMappingURL=indexStyle.css.map */
  /*  background-color: #16ff9e;
  color: #052c4e;
  border-radius: 15px;
  left: 0;
  position: relative;
  max-width: 30%;
  padding: 1%;
  margin: 10px;
  -webkit-box-shadow: 0 1px 5px #2d96f2;
          box-shadow: 0 1px 5px #2d96f2;*/